<form *ngIf="personForm" [formGroup]="personForm" (submit)="submitForm()">
  <div class="form-group">
    <label>Fitst Name</label>
    <input type="text" formControlName="firstName" class="form-control" aria-describedby="emailHelp">
    <div class="alert alert-danger" *ngIf="isControlValid('firstName')">
      First Name requesr
    </div>
    <small class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label>Last Name</label>
    <input type="email" formControlName="lastName" class="form-control" aria-describedby="emailHelp">
    <small class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>

  <div class="form-group" formArrayName="emails">
    <div *ngFor="let email of personForm.get('emails').controls; let i=index" [formGroupName]="i">
      <input type="text" formControlName="value" class="form-control">
      <input type="checkbox" formControlName="primary" class="form-control">
    </div>
  </div>

  <button type="button" class="btn btn-primary btn-primary_asda" (click)="addEmail()">Add Email</button>


  <button type="submit" class="btn btn-primary">Submit</button>
</form>
