<div class="container">
  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col-10">
      <div class="alert alert-primary" role="alert">
        A simple primary alert—check it out!
      </div>

      <button type="button" class="btn btn-primary">
        Notifications <span class="badge badge-light">{{notification}}</span>
      </button>

      <button type="button" class="btn btn-primary btn-primary_asda" (click)="increaseCounter()">Click Me</button>




      <router-outlet></router-outlet>
    </div>
    <div class="col">
      <button type="button" class="btn btn-outline-primary">Primary</button>
    </div>
  </div>
</div>

